/* OneDark by Lalit Magant (http://github.com/tilal6991) */

.base00-bg { background-color: #282c34; }
.base01-bg { background-color: #353b45; }
.base02-bg { background-color: #3e4451; }
.base03-bg { background-color: #545862; }
.base04-bg { background-color: #565c64; }
.base05-bg { background-color: #abb2bf; }
.base06-bg { background-color: #b6bdca; }
.base07-bg { background-color: #c8ccd4; }
.base08-bg { background-color: #e06c75; }
.base09-bg { background-color: #d19a66; }
.base0A-bg { background-color: #e5c07b; }
.base0B-bg { background-color: #98c379; }
.base0C-bg { background-color: #56b6c2; }
.base0D-bg { background-color: #61afef; }
.base0E-bg { background-color: #c678dd; }
.base0F-bg { background-color: #be5046; }

.base00 { color: #282c34; }
.base01 { color: #353b45; }
.base02 { color: #3e4451; }
.base03 { color: #545862; }
.base04 { color: #565c64; }
.base05 { color: #abb2bf; }
.base06 { color: #b6bdca; }
.base07 { color: #c8ccd4; }
.base08 { color: #e06c75; }
.base09 { color: #d19a66; }
.base0A { color: #e5c07b; }
.base0B { color: #98c379; }
.base0C { color: #56b6c2; }
.base0D { color: #61afef; }
.base0E { color: #c678dd; }
.base0F { color: #be5046; }
