/* Shapeshifter by Tyler Benziger (http://tybenz.com) */

.base00-bg { background-color: #f9f9f9; }
.base01-bg { background-color: #e0e0e0; }
.base02-bg { background-color: #ababab; }
.base03-bg { background-color: #555555; }
.base04-bg { background-color: #343434; }
.base05-bg { background-color: #102015; }
.base06-bg { background-color: #040404; }
.base07-bg { background-color: #000000; }
.base08-bg { background-color: #e92f2f; }
.base09-bg { background-color: #e09448; }
.base0A-bg { background-color: #dddd13; }
.base0B-bg { background-color: #0ed839; }
.base0C-bg { background-color: #23edda; }
.base0D-bg { background-color: #3b48e3; }
.base0E-bg { background-color: #f996e2; }
.base0F-bg { background-color: #69542d; }

.base00 { color: #f9f9f9; }
.base01 { color: #e0e0e0; }
.base02 { color: #ababab; }
.base03 { color: #555555; }
.base04 { color: #343434; }
.base05 { color: #102015; }
.base06 { color: #040404; }
.base07 { color: #000000; }
.base08 { color: #e92f2f; }
.base09 { color: #e09448; }
.base0A { color: #dddd13; }
.base0B { color: #0ed839; }
.base0C { color: #23edda; }
.base0D { color: #3b48e3; }
.base0E { color: #f996e2; }
.base0F { color: #69542d; }
