/* Railscasts by Ryan Bates (http://railscasts.com) */

.base00-bg { background-color: #2b2b2b; }
.base01-bg { background-color: #272935; }
.base02-bg { background-color: #3a4055; }
.base03-bg { background-color: #5a647e; }
.base04-bg { background-color: #d4cfc9; }
.base05-bg { background-color: #e6e1dc; }
.base06-bg { background-color: #f4f1ed; }
.base07-bg { background-color: #f9f7f3; }
.base08-bg { background-color: #da4939; }
.base09-bg { background-color: #cc7833; }
.base0A-bg { background-color: #ffc66d; }
.base0B-bg { background-color: #a5c261; }
.base0C-bg { background-color: #519f50; }
.base0D-bg { background-color: #6d9cbe; }
.base0E-bg { background-color: #b6b3eb; }
.base0F-bg { background-color: #bc9458; }

.base00 { color: #2b2b2b; }
.base01 { color: #272935; }
.base02 { color: #3a4055; }
.base03 { color: #5a647e; }
.base04 { color: #d4cfc9; }
.base05 { color: #e6e1dc; }
.base06 { color: #f4f1ed; }
.base07 { color: #f9f7f3; }
.base08 { color: #da4939; }
.base09 { color: #cc7833; }
.base0A { color: #ffc66d; }
.base0B { color: #a5c261; }
.base0C { color: #519f50; }
.base0D { color: #6d9cbe; }
.base0E { color: #b6b3eb; }
.base0F { color: #bc9458; }
