/* PhD by Hennig Hasemann (http://leetless.de/vim.html) */

.base00-bg { background-color: #061229; }
.base01-bg { background-color: #2a3448; }
.base02-bg { background-color: #4d5666; }
.base03-bg { background-color: #717885; }
.base04-bg { background-color: #9a99a3; }
.base05-bg { background-color: #b8bbc2; }
.base06-bg { background-color: #dbdde0; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #d07346; }
.base09-bg { background-color: #f0a000; }
.base0A-bg { background-color: #fbd461; }
.base0B-bg { background-color: #99bf52; }
.base0C-bg { background-color: #72b9bf; }
.base0D-bg { background-color: #5299bf; }
.base0E-bg { background-color: #9989cc; }
.base0F-bg { background-color: #b08060; }

.base00 { color: #061229; }
.base01 { color: #2a3448; }
.base02 { color: #4d5666; }
.base03 { color: #717885; }
.base04 { color: #9a99a3; }
.base05 { color: #b8bbc2; }
.base06 { color: #dbdde0; }
.base07 { color: #ffffff; }
.base08 { color: #d07346; }
.base09 { color: #f0a000; }
.base0A { color: #fbd461; }
.base0B { color: #99bf52; }
.base0C { color: #72b9bf; }
.base0D { color: #5299bf; }
.base0E { color: #9989cc; }
.base0F { color: #b08060; }
