/* Cupcake by Chris Kempson (http://chriskempson.com) */

.base00-bg { background-color: #fbf1f2; }
.base01-bg { background-color: #f2f1f4; }
.base02-bg { background-color: #d8d5dd; }
.base03-bg { background-color: #bfb9c6; }
.base04-bg { background-color: #a59daf; }
.base05-bg { background-color: #8b8198; }
.base06-bg { background-color: #72677E; }
.base07-bg { background-color: #585062; }
.base08-bg { background-color: #D57E85; }
.base09-bg { background-color: #EBB790; }
.base0A-bg { background-color: #DCB16C; }
.base0B-bg { background-color: #A3B367; }
.base0C-bg { background-color: #69A9A7; }
.base0D-bg { background-color: #7297B9; }
.base0E-bg { background-color: #BB99B4; }
.base0F-bg { background-color: #BAA58C; }

.base00 { color: #fbf1f2; }
.base01 { color: #f2f1f4; }
.base02 { color: #d8d5dd; }
.base03 { color: #bfb9c6; }
.base04 { color: #a59daf; }
.base05 { color: #8b8198; }
.base06 { color: #72677E; }
.base07 { color: #585062; }
.base08 { color: #D57E85; }
.base09 { color: #EBB790; }
.base0A { color: #DCB16C; }
.base0B { color: #A3B367; }
.base0C { color: #69A9A7; }
.base0D { color: #7297B9; }
.base0E { color: #BB99B4; }
.base0F { color: #BAA58C; }
