/* Mocha by Chris Kempson (http://chriskempson.com) */

.base00-bg { background-color: #3B3228; }
.base01-bg { background-color: #534636; }
.base02-bg { background-color: #645240; }
.base03-bg { background-color: #7e705a; }
.base04-bg { background-color: #b8afad; }
.base05-bg { background-color: #d0c8c6; }
.base06-bg { background-color: #e9e1dd; }
.base07-bg { background-color: #f5eeeb; }
.base08-bg { background-color: #cb6077; }
.base09-bg { background-color: #d28b71; }
.base0A-bg { background-color: #f4bc87; }
.base0B-bg { background-color: #beb55b; }
.base0C-bg { background-color: #7bbda4; }
.base0D-bg { background-color: #8ab3b5; }
.base0E-bg { background-color: #a89bb9; }
.base0F-bg { background-color: #bb9584; }

.base00 { color: #3B3228; }
.base01 { color: #534636; }
.base02 { color: #645240; }
.base03 { color: #7e705a; }
.base04 { color: #b8afad; }
.base05 { color: #d0c8c6; }
.base06 { color: #e9e1dd; }
.base07 { color: #f5eeeb; }
.base08 { color: #cb6077; }
.base09 { color: #d28b71; }
.base0A { color: #f4bc87; }
.base0B { color: #beb55b; }
.base0C { color: #7bbda4; }
.base0D { color: #8ab3b5; }
.base0E { color: #a89bb9; }
.base0F { color: #bb9584; }
