/* Brewer by Timothée Poisot (http://github.com/tpoisot) */

.base00-bg { background-color: #0c0d0e; }
.base01-bg { background-color: #2e2f30; }
.base02-bg { background-color: #515253; }
.base03-bg { background-color: #737475; }
.base04-bg { background-color: #959697; }
.base05-bg { background-color: #b7b8b9; }
.base06-bg { background-color: #dadbdc; }
.base07-bg { background-color: #fcfdfe; }
.base08-bg { background-color: #e31a1c; }
.base09-bg { background-color: #e6550d; }
.base0A-bg { background-color: #dca060; }
.base0B-bg { background-color: #31a354; }
.base0C-bg { background-color: #80b1d3; }
.base0D-bg { background-color: #3182bd; }
.base0E-bg { background-color: #756bb1; }
.base0F-bg { background-color: #b15928; }

.base00 { color: #0c0d0e; }
.base01 { color: #2e2f30; }
.base02 { color: #515253; }
.base03 { color: #737475; }
.base04 { color: #959697; }
.base05 { color: #b7b8b9; }
.base06 { color: #dadbdc; }
.base07 { color: #fcfdfe; }
.base08 { color: #e31a1c; }
.base09 { color: #e6550d; }
.base0A { color: #dca060; }
.base0B { color: #31a354; }
.base0C { color: #80b1d3; }
.base0D { color: #3182bd; }
.base0E { color: #756bb1; }
.base0F { color: #b15928; }
