/* Chalk by Chris Kempson (http://chriskempson.com) */

.base00-bg { background-color: #151515; }
.base01-bg { background-color: #202020; }
.base02-bg { background-color: #303030; }
.base03-bg { background-color: #505050; }
.base04-bg { background-color: #b0b0b0; }
.base05-bg { background-color: #d0d0d0; }
.base06-bg { background-color: #e0e0e0; }
.base07-bg { background-color: #f5f5f5; }
.base08-bg { background-color: #fb9fb1; }
.base09-bg { background-color: #eda987; }
.base0A-bg { background-color: #ddb26f; }
.base0B-bg { background-color: #acc267; }
.base0C-bg { background-color: #12cfc0; }
.base0D-bg { background-color: #6fc2ef; }
.base0E-bg { background-color: #e1a3ee; }
.base0F-bg { background-color: #deaf8f; }

.base00 { color: #151515; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #505050; }
.base04 { color: #b0b0b0; }
.base05 { color: #d0d0d0; }
.base06 { color: #e0e0e0; }
.base07 { color: #f5f5f5; }
.base08 { color: #fb9fb1; }
.base09 { color: #eda987; }
.base0A { color: #ddb26f; }
.base0B { color: #acc267; }
.base0C { color: #12cfc0; }
.base0D { color: #6fc2ef; }
.base0E { color: #e1a3ee; }
.base0F { color: #deaf8f; }
