/* Google Light by Seth Wright (http://sethawright.com) */

.base00-bg { background-color: #ffffff; }
.base01-bg { background-color: #e0e0e0; }
.base02-bg { background-color: #c5c8c6; }
.base03-bg { background-color: #b4b7b4; }
.base04-bg { background-color: #969896; }
.base05-bg { background-color: #373b41; }
.base06-bg { background-color: #282a2e; }
.base07-bg { background-color: #1d1f21; }
.base08-bg { background-color: #CC342B; }
.base09-bg { background-color: #F96A38; }
.base0A-bg { background-color: #FBA922; }
.base0B-bg { background-color: #198844; }
.base0C-bg { background-color: #3971ED; }
.base0D-bg { background-color: #3971ED; }
.base0E-bg { background-color: #A36AC7; }
.base0F-bg { background-color: #3971ED; }

.base00 { color: #ffffff; }
.base01 { color: #e0e0e0; }
.base02 { color: #c5c8c6; }
.base03 { color: #b4b7b4; }
.base04 { color: #969896; }
.base05 { color: #373b41; }
.base06 { color: #282a2e; }
.base07 { color: #1d1f21; }
.base08 { color: #CC342B; }
.base09 { color: #F96A38; }
.base0A { color: #FBA922; }
.base0B { color: #198844; }
.base0C { color: #3971ED; }
.base0D { color: #3971ED; }
.base0E { color: #A36AC7; }
.base0F { color: #3971ED; }
