/* Summerfruit Dark by Christopher Corley (http://christop.club/) */

.base00-bg { background-color: #151515; }
.base01-bg { background-color: #202020; }
.base02-bg { background-color: #303030; }
.base03-bg { background-color: #505050; }
.base04-bg { background-color: #B0B0B0; }
.base05-bg { background-color: #D0D0D0; }
.base06-bg { background-color: #E0E0E0; }
.base07-bg { background-color: #FFFFFF; }
.base08-bg { background-color: #FF0086; }
.base09-bg { background-color: #FD8900; }
.base0A-bg { background-color: #ABA800; }
.base0B-bg { background-color: #00C918; }
.base0C-bg { background-color: #1FAAAA; }
.base0D-bg { background-color: #3777E6; }
.base0E-bg { background-color: #AD00A1; }
.base0F-bg { background-color: #CC6633; }

.base00 { color: #151515; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #505050; }
.base04 { color: #B0B0B0; }
.base05 { color: #D0D0D0; }
.base06 { color: #E0E0E0; }
.base07 { color: #FFFFFF; }
.base08 { color: #FF0086; }
.base09 { color: #FD8900; }
.base0A { color: #ABA800; }
.base0B { color: #00C918; }
.base0C { color: #1FAAAA; }
.base0D { color: #3777E6; }
.base0E { color: #AD00A1; }
.base0F { color: #CC6633; }
