/* Woodland by Jay Cornwall (https://jcornwall.com) */

.base00-bg { background-color: #231e18; }
.base01-bg { background-color: #302b25; }
.base02-bg { background-color: #48413a; }
.base03-bg { background-color: #9d8b70; }
.base04-bg { background-color: #b4a490; }
.base05-bg { background-color: #cabcb1; }
.base06-bg { background-color: #d7c8bc; }
.base07-bg { background-color: #e4d4c8; }
.base08-bg { background-color: #d35c5c; }
.base09-bg { background-color: #ca7f32; }
.base0A-bg { background-color: #e0ac16; }
.base0B-bg { background-color: #b7ba53; }
.base0C-bg { background-color: #6eb958; }
.base0D-bg { background-color: #88a4d3; }
.base0E-bg { background-color: #bb90e2; }
.base0F-bg { background-color: #b49368; }

.base00 { color: #231e18; }
.base01 { color: #302b25; }
.base02 { color: #48413a; }
.base03 { color: #9d8b70; }
.base04 { color: #b4a490; }
.base05 { color: #cabcb1; }
.base06 { color: #d7c8bc; }
.base07 { color: #e4d4c8; }
.base08 { color: #d35c5c; }
.base09 { color: #ca7f32; }
.base0A { color: #e0ac16; }
.base0B { color: #b7ba53; }
.base0C { color: #6eb958; }
.base0D { color: #88a4d3; }
.base0E { color: #bb90e2; }
.base0F { color: #b49368; }
