/* Macintosh by Rebecca Bettencourt (http://www.kreativekorp.com) */

.base00-bg { background-color: #000000; }
.base01-bg { background-color: #404040; }
.base02-bg { background-color: #404040; }
.base03-bg { background-color: #808080; }
.base04-bg { background-color: #808080; }
.base05-bg { background-color: #c0c0c0; }
.base06-bg { background-color: #c0c0c0; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #dd0907; }
.base09-bg { background-color: #ff6403; }
.base0A-bg { background-color: #fbf305; }
.base0B-bg { background-color: #1fb714; }
.base0C-bg { background-color: #02abea; }
.base0D-bg { background-color: #0000d3; }
.base0E-bg { background-color: #4700a5; }
.base0F-bg { background-color: #90713a; }

.base00 { color: #000000; }
.base01 { color: #404040; }
.base02 { color: #404040; }
.base03 { color: #808080; }
.base04 { color: #808080; }
.base05 { color: #c0c0c0; }
.base06 { color: #c0c0c0; }
.base07 { color: #ffffff; }
.base08 { color: #dd0907; }
.base09 { color: #ff6403; }
.base0A { color: #fbf305; }
.base0B { color: #1fb714; }
.base0C { color: #02abea; }
.base0D { color: #0000d3; }
.base0E { color: #4700a5; }
.base0F { color: #90713a; }
