/* London Tube by Jan T. Sott */

.base00-bg { background-color: #231f20; }
.base01-bg { background-color: #1c3f95; }
.base02-bg { background-color: #5a5758; }
.base03-bg { background-color: #737171; }
.base04-bg { background-color: #959ca1; }
.base05-bg { background-color: #d9d8d8; }
.base06-bg { background-color: #e7e7e8; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #ee2e24; }
.base09-bg { background-color: #f386a1; }
.base0A-bg { background-color: #ffd204; }
.base0B-bg { background-color: #00853e; }
.base0C-bg { background-color: #85cebc; }
.base0D-bg { background-color: #009ddc; }
.base0E-bg { background-color: #98005d; }
.base0F-bg { background-color: #b06110; }

.base00 { color: #231f20; }
.base01 { color: #1c3f95; }
.base02 { color: #5a5758; }
.base03 { color: #737171; }
.base04 { color: #959ca1; }
.base05 { color: #d9d8d8; }
.base06 { color: #e7e7e8; }
.base07 { color: #ffffff; }
.base08 { color: #ee2e24; }
.base09 { color: #f386a1; }
.base0A { color: #ffd204; }
.base0B { color: #00853e; }
.base0C { color: #85cebc; }
.base0D { color: #009ddc; }
.base0E { color: #98005d; }
.base0F { color: #b06110; }
