/* Atelier Savanna by Bram de Haan (http://atelierbramdehaan.nl) */

.base00-bg { background-color: #171c19; }
.base01-bg { background-color: #232a25; }
.base02-bg { background-color: #526057; }
.base03-bg { background-color: #5f6d64; }
.base04-bg { background-color: #78877d; }
.base05-bg { background-color: #87928a; }
.base06-bg { background-color: #dfe7e2; }
.base07-bg { background-color: #ecf4ee; }
.base08-bg { background-color: #b16139; }
.base09-bg { background-color: #9f713c; }
.base0A-bg { background-color: #a07e3b; }
.base0B-bg { background-color: #489963; }
.base0C-bg { background-color: #1c9aa0; }
.base0D-bg { background-color: #478c90; }
.base0E-bg { background-color: #55859b; }
.base0F-bg { background-color: #867469; }

.base00 { color: #171c19; }
.base01 { color: #232a25; }
.base02 { color: #526057; }
.base03 { color: #5f6d64; }
.base04 { color: #78877d; }
.base05 { color: #87928a; }
.base06 { color: #dfe7e2; }
.base07 { color: #ecf4ee; }
.base08 { color: #b16139; }
.base09 { color: #9f713c; }
.base0A { color: #a07e3b; }
.base0B { color: #489963; }
.base0C { color: #1c9aa0; }
.base0D { color: #478c90; }
.base0E { color: #55859b; }
.base0F { color: #867469; }
