/* Gruvbox dark, medium by Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox) */

.base00-bg { background-color: #282828; }
.base01-bg { background-color: #3c3836; }
.base02-bg { background-color: #504945; }
.base03-bg { background-color: #665c54; }
.base04-bg { background-color: #bdae93; }
.base05-bg { background-color: #d5c4a1; }
.base06-bg { background-color: #ebdbb2; }
.base07-bg { background-color: #fbf1c7; }
.base08-bg { background-color: #fb4934; }
.base09-bg { background-color: #fe8019; }
.base0A-bg { background-color: #fabd2f; }
.base0B-bg { background-color: #b8bb26; }
.base0C-bg { background-color: #8ec07c; }
.base0D-bg { background-color: #83a598; }
.base0E-bg { background-color: #d3869b; }
.base0F-bg { background-color: #d65d0e; }

.base00 { color: #282828; }
.base01 { color: #3c3836; }
.base02 { color: #504945; }
.base03 { color: #665c54; }
.base04 { color: #bdae93; }
.base05 { color: #d5c4a1; }
.base06 { color: #ebdbb2; }
.base07 { color: #fbf1c7; }
.base08 { color: #fb4934; }
.base09 { color: #fe8019; }
.base0A { color: #fabd2f; }
.base0B { color: #b8bb26; }
.base0C { color: #8ec07c; }
.base0D { color: #83a598; }
.base0E { color: #d3869b; }
.base0F { color: #d65d0e; }
