/* Grayscale Dark by Alexandre Gavioli (https://github.com/Alexx2/) */

.base00-bg { background-color: #101010; }
.base01-bg { background-color: #252525; }
.base02-bg { background-color: #464646; }
.base03-bg { background-color: #525252; }
.base04-bg { background-color: #ababab; }
.base05-bg { background-color: #b9b9b9; }
.base06-bg { background-color: #e3e3e3; }
.base07-bg { background-color: #f7f7f7; }
.base08-bg { background-color: #7c7c7c; }
.base09-bg { background-color: #999999; }
.base0A-bg { background-color: #a0a0a0; }
.base0B-bg { background-color: #8e8e8e; }
.base0C-bg { background-color: #868686; }
.base0D-bg { background-color: #686868; }
.base0E-bg { background-color: #747474; }
.base0F-bg { background-color: #5e5e5e; }

.base00 { color: #101010; }
.base01 { color: #252525; }
.base02 { color: #464646; }
.base03 { color: #525252; }
.base04 { color: #ababab; }
.base05 { color: #b9b9b9; }
.base06 { color: #e3e3e3; }
.base07 { color: #f7f7f7; }
.base08 { color: #7c7c7c; }
.base09 { color: #999999; }
.base0A { color: #a0a0a0; }
.base0B { color: #8e8e8e; }
.base0C { color: #868686; }
.base0D { color: #686868; }
.base0E { color: #747474; }
.base0F { color: #5e5e5e; }
