/* Atelier Seaside by Bram de Haan (http://atelierbramdehaan.nl) */

.base00-bg { background-color: #131513; }
.base01-bg { background-color: #242924; }
.base02-bg { background-color: #5e6e5e; }
.base03-bg { background-color: #687d68; }
.base04-bg { background-color: #809980; }
.base05-bg { background-color: #8ca68c; }
.base06-bg { background-color: #cfe8cf; }
.base07-bg { background-color: #f4fbf4; }
.base08-bg { background-color: #e6193c; }
.base09-bg { background-color: #87711d; }
.base0A-bg { background-color: #98981b; }
.base0B-bg { background-color: #29a329; }
.base0C-bg { background-color: #1999b3; }
.base0D-bg { background-color: #3d62f5; }
.base0E-bg { background-color: #ad2bee; }
.base0F-bg { background-color: #e619c3; }

.base00 { color: #131513; }
.base01 { color: #242924; }
.base02 { color: #5e6e5e; }
.base03 { color: #687d68; }
.base04 { color: #809980; }
.base05 { color: #8ca68c; }
.base06 { color: #cfe8cf; }
.base07 { color: #f4fbf4; }
.base08 { color: #e6193c; }
.base09 { color: #87711d; }
.base0A { color: #98981b; }
.base0B { color: #29a329; }
.base0C { color: #1999b3; }
.base0D { color: #3d62f5; }
.base0E { color: #ad2bee; }
.base0F { color: #e619c3; }
