/* Paraiso by Jan T. Sott */

.base00-bg { background-color: #2f1e2e; }
.base01-bg { background-color: #41323f; }
.base02-bg { background-color: #4f424c; }
.base03-bg { background-color: #776e71; }
.base04-bg { background-color: #8d8687; }
.base05-bg { background-color: #a39e9b; }
.base06-bg { background-color: #b9b6b0; }
.base07-bg { background-color: #e7e9db; }
.base08-bg { background-color: #ef6155; }
.base09-bg { background-color: #f99b15; }
.base0A-bg { background-color: #fec418; }
.base0B-bg { background-color: #48b685; }
.base0C-bg { background-color: #5bc4bf; }
.base0D-bg { background-color: #06b6ef; }
.base0E-bg { background-color: #815ba4; }
.base0F-bg { background-color: #e96ba8; }

.base00 { color: #2f1e2e; }
.base01 { color: #41323f; }
.base02 { color: #4f424c; }
.base03 { color: #776e71; }
.base04 { color: #8d8687; }
.base05 { color: #a39e9b; }
.base06 { color: #b9b6b0; }
.base07 { color: #e7e9db; }
.base08 { color: #ef6155; }
.base09 { color: #f99b15; }
.base0A { color: #fec418; }
.base0B { color: #48b685; }
.base0C { color: #5bc4bf; }
.base0D { color: #06b6ef; }
.base0E { color: #815ba4; }
.base0F { color: #e96ba8; }
