/* Isotope by Jan T. Sott */

.base00-bg { background-color: #000000; }
.base01-bg { background-color: #404040; }
.base02-bg { background-color: #606060; }
.base03-bg { background-color: #808080; }
.base04-bg { background-color: #c0c0c0; }
.base05-bg { background-color: #d0d0d0; }
.base06-bg { background-color: #e0e0e0; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #ff0000; }
.base09-bg { background-color: #ff9900; }
.base0A-bg { background-color: #ff0099; }
.base0B-bg { background-color: #33ff00; }
.base0C-bg { background-color: #00ffff; }
.base0D-bg { background-color: #0066ff; }
.base0E-bg { background-color: #cc00ff; }
.base0F-bg { background-color: #3300ff; }

.base00 { color: #000000; }
.base01 { color: #404040; }
.base02 { color: #606060; }
.base03 { color: #808080; }
.base04 { color: #c0c0c0; }
.base05 { color: #d0d0d0; }
.base06 { color: #e0e0e0; }
.base07 { color: #ffffff; }
.base08 { color: #ff0000; }
.base09 { color: #ff9900; }
.base0A { color: #ff0099; }
.base0B { color: #33ff00; }
.base0C { color: #00ffff; }
.base0D { color: #0066ff; }
.base0E { color: #cc00ff; }
.base0F { color: #3300ff; }
