/* Flat by Chris Kempson (http://chriskempson.com) */

.base00-bg { background-color: #2C3E50; }
.base01-bg { background-color: #34495E; }
.base02-bg { background-color: #7F8C8D; }
.base03-bg { background-color: #95A5A6; }
.base04-bg { background-color: #BDC3C7; }
.base05-bg { background-color: #e0e0e0; }
.base06-bg { background-color: #f5f5f5; }
.base07-bg { background-color: #ECF0F1; }
.base08-bg { background-color: #E74C3C; }
.base09-bg { background-color: #E67E22; }
.base0A-bg { background-color: #F1C40F; }
.base0B-bg { background-color: #2ECC71; }
.base0C-bg { background-color: #1ABC9C; }
.base0D-bg { background-color: #3498DB; }
.base0E-bg { background-color: #9B59B6; }
.base0F-bg { background-color: #be643c; }

.base00 { color: #2C3E50; }
.base01 { color: #34495E; }
.base02 { color: #7F8C8D; }
.base03 { color: #95A5A6; }
.base04 { color: #BDC3C7; }
.base05 { color: #e0e0e0; }
.base06 { color: #f5f5f5; }
.base07 { color: #ECF0F1; }
.base08 { color: #E74C3C; }
.base09 { color: #E67E22; }
.base0A { color: #F1C40F; }
.base0B { color: #2ECC71; }
.base0C { color: #1ABC9C; }
.base0D { color: #3498DB; }
.base0E { color: #9B59B6; }
.base0F { color: #be643c; }
