/* Marrakesh by Alexandre Gavioli (http://github.com/Alexx2/) */

.base00-bg { background-color: #201602; }
.base01-bg { background-color: #302e00; }
.base02-bg { background-color: #5f5b17; }
.base03-bg { background-color: #6c6823; }
.base04-bg { background-color: #86813b; }
.base05-bg { background-color: #948e48; }
.base06-bg { background-color: #ccc37a; }
.base07-bg { background-color: #faf0a5; }
.base08-bg { background-color: #c35359; }
.base09-bg { background-color: #b36144; }
.base0A-bg { background-color: #a88339; }
.base0B-bg { background-color: #18974e; }
.base0C-bg { background-color: #75a738; }
.base0D-bg { background-color: #477ca1; }
.base0E-bg { background-color: #8868b3; }
.base0F-bg { background-color: #b3588e; }

.base00 { color: #201602; }
.base01 { color: #302e00; }
.base02 { color: #5f5b17; }
.base03 { color: #6c6823; }
.base04 { color: #86813b; }
.base05 { color: #948e48; }
.base06 { color: #ccc37a; }
.base07 { color: #faf0a5; }
.base08 { color: #c35359; }
.base09 { color: #b36144; }
.base0A { color: #a88339; }
.base0B { color: #18974e; }
.base0C { color: #75a738; }
.base0D { color: #477ca1; }
.base0E { color: #8868b3; }
.base0F { color: #b3588e; }
