/* Harmonic16 Light by Jannik Siebert (https://github.com/janniks) */

.base00-bg { background-color: #f7f9fb; }
.base01-bg { background-color: #e5ebf1; }
.base02-bg { background-color: #cbd6e2; }
.base03-bg { background-color: #aabcce; }
.base04-bg { background-color: #627e99; }
.base05-bg { background-color: #405c79; }
.base06-bg { background-color: #223b54; }
.base07-bg { background-color: #0b1c2c; }
.base08-bg { background-color: #bf8b56; }
.base09-bg { background-color: #bfbf56; }
.base0A-bg { background-color: #8bbf56; }
.base0B-bg { background-color: #56bf8b; }
.base0C-bg { background-color: #568bbf; }
.base0D-bg { background-color: #8b56bf; }
.base0E-bg { background-color: #bf568b; }
.base0F-bg { background-color: #bf5656; }

.base00 { color: #f7f9fb; }
.base01 { color: #e5ebf1; }
.base02 { color: #cbd6e2; }
.base03 { color: #aabcce; }
.base04 { color: #627e99; }
.base05 { color: #405c79; }
.base06 { color: #223b54; }
.base07 { color: #0b1c2c; }
.base08 { color: #bf8b56; }
.base09 { color: #bfbf56; }
.base0A { color: #8bbf56; }
.base0B { color: #56bf8b; }
.base0C { color: #568bbf; }
.base0D { color: #8b56bf; }
.base0E { color: #bf568b; }
.base0F { color: #bf5656; }
