/* Atelier Sulphurpool by Bram de Haan (http://atelierbramdehaan.nl) */

.base00-bg { background-color: #202746; }
.base01-bg { background-color: #293256; }
.base02-bg { background-color: #5e6687; }
.base03-bg { background-color: #6b7394; }
.base04-bg { background-color: #898ea4; }
.base05-bg { background-color: #979db4; }
.base06-bg { background-color: #dfe2f1; }
.base07-bg { background-color: #f5f7ff; }
.base08-bg { background-color: #c94922; }
.base09-bg { background-color: #c76b29; }
.base0A-bg { background-color: #c08b30; }
.base0B-bg { background-color: #ac9739; }
.base0C-bg { background-color: #22a2c9; }
.base0D-bg { background-color: #3d8fd1; }
.base0E-bg { background-color: #6679cc; }
.base0F-bg { background-color: #9c637a; }

.base00 { color: #202746; }
.base01 { color: #293256; }
.base02 { color: #5e6687; }
.base03 { color: #6b7394; }
.base04 { color: #898ea4; }
.base05 { color: #979db4; }
.base06 { color: #dfe2f1; }
.base07 { color: #f5f7ff; }
.base08 { color: #c94922; }
.base09 { color: #c76b29; }
.base0A { color: #c08b30; }
.base0B { color: #ac9739; }
.base0C { color: #22a2c9; }
.base0D { color: #3d8fd1; }
.base0E { color: #6679cc; }
.base0F { color: #9c637a; }
