/* Darktooth by Jason Milkins (https://github.com/jasonm23) */

.base00-bg { background-color: #1D2021; }
.base01-bg { background-color: #32302F; }
.base02-bg { background-color: #504945; }
.base03-bg { background-color: #665C54; }
.base04-bg { background-color: #928374; }
.base05-bg { background-color: #A89984; }
.base06-bg { background-color: #D5C4A1; }
.base07-bg { background-color: #FDF4C1; }
.base08-bg { background-color: #FB543F; }
.base09-bg { background-color: #FE8625; }
.base0A-bg { background-color: #FAC03B; }
.base0B-bg { background-color: #95C085; }
.base0C-bg { background-color: #8BA59B; }
.base0D-bg { background-color: #0D6678; }
.base0E-bg { background-color: #8F4673; }
.base0F-bg { background-color: #A87322; }

.base00 { color: #1D2021; }
.base01 { color: #32302F; }
.base02 { color: #504945; }
.base03 { color: #665C54; }
.base04 { color: #928374; }
.base05 { color: #A89984; }
.base06 { color: #D5C4A1; }
.base07 { color: #FDF4C1; }
.base08 { color: #FB543F; }
.base09 { color: #FE8625; }
.base0A { color: #FAC03B; }
.base0B { color: #95C085; }
.base0C { color: #8BA59B; }
.base0D { color: #0D6678; }
.base0E { color: #8F4673; }
.base0F { color: #A87322; }
