/* Ocean by Chris Kempson (http://chriskempson.com) */

.base00-bg { background-color: #2b303b; }
.base01-bg { background-color: #343d46; }
.base02-bg { background-color: #4f5b66; }
.base03-bg { background-color: #65737e; }
.base04-bg { background-color: #a7adba; }
.base05-bg { background-color: #c0c5ce; }
.base06-bg { background-color: #dfe1e8; }
.base07-bg { background-color: #eff1f5; }
.base08-bg { background-color: #bf616a; }
.base09-bg { background-color: #d08770; }
.base0A-bg { background-color: #ebcb8b; }
.base0B-bg { background-color: #a3be8c; }
.base0C-bg { background-color: #96b5b4; }
.base0D-bg { background-color: #8fa1b3; }
.base0E-bg { background-color: #b48ead; }
.base0F-bg { background-color: #ab7967; }

.base00 { color: #2b303b; }
.base01 { color: #343d46; }
.base02 { color: #4f5b66; }
.base03 { color: #65737e; }
.base04 { color: #a7adba; }
.base05 { color: #c0c5ce; }
.base06 { color: #dfe1e8; }
.base07 { color: #eff1f5; }
.base08 { color: #bf616a; }
.base09 { color: #d08770; }
.base0A { color: #ebcb8b; }
.base0B { color: #a3be8c; }
.base0C { color: #96b5b4; }
.base0D { color: #8fa1b3; }
.base0E { color: #b48ead; }
.base0F { color: #ab7967; }
