/* Atelier Estuary by Bram de Haan (http://atelierbramdehaan.nl) */

.base00-bg { background-color: #22221b; }
.base01-bg { background-color: #302f27; }
.base02-bg { background-color: #5f5e4e; }
.base03-bg { background-color: #6c6b5a; }
.base04-bg { background-color: #878573; }
.base05-bg { background-color: #929181; }
.base06-bg { background-color: #e7e6df; }
.base07-bg { background-color: #f4f3ec; }
.base08-bg { background-color: #ba6236; }
.base09-bg { background-color: #ae7313; }
.base0A-bg { background-color: #a5980d; }
.base0B-bg { background-color: #7d9726; }
.base0C-bg { background-color: #5b9d48; }
.base0D-bg { background-color: #36a166; }
.base0E-bg { background-color: #5f9182; }
.base0F-bg { background-color: #9d6c7c; }

.base00 { color: #22221b; }
.base01 { color: #302f27; }
.base02 { color: #5f5e4e; }
.base03 { color: #6c6b5a; }
.base04 { color: #878573; }
.base05 { color: #929181; }
.base06 { color: #e7e6df; }
.base07 { color: #f4f3ec; }
.base08 { color: #ba6236; }
.base09 { color: #ae7313; }
.base0A { color: #a5980d; }
.base0B { color: #7d9726; }
.base0C { color: #5b9d48; }
.base0D { color: #36a166; }
.base0E { color: #5f9182; }
.base0F { color: #9d6c7c; }
