/* Apathy by Jannik Siebert (https://github.com/janniks) */

.base00-bg { background-color: #031A16; }
.base01-bg { background-color: #0B342D; }
.base02-bg { background-color: #184E45; }
.base03-bg { background-color: #2B685E; }
.base04-bg { background-color: #5F9C92; }
.base05-bg { background-color: #81B5AC; }
.base06-bg { background-color: #A7CEC8; }
.base07-bg { background-color: #D2E7E4; }
.base08-bg { background-color: #3E9688; }
.base09-bg { background-color: #3E7996; }
.base0A-bg { background-color: #3E4C96; }
.base0B-bg { background-color: #883E96; }
.base0C-bg { background-color: #963E4C; }
.base0D-bg { background-color: #96883E; }
.base0E-bg { background-color: #4C963E; }
.base0F-bg { background-color: #3E965B; }

.base00 { color: #031A16; }
.base01 { color: #0B342D; }
.base02 { color: #184E45; }
.base03 { color: #2B685E; }
.base04 { color: #5F9C92; }
.base05 { color: #81B5AC; }
.base06 { color: #A7CEC8; }
.base07 { color: #D2E7E4; }
.base08 { color: #3E9688; }
.base09 { color: #3E7996; }
.base0A { color: #3E4C96; }
.base0B { color: #883E96; }
.base0C { color: #963E4C; }
.base0D { color: #96883E; }
.base0E { color: #4C963E; }
.base0F { color: #3E965B; }
