/* Atelier Lakeside by Bram de Haan (http://atelierbramdehaan.nl) */

.base00-bg { background-color: #161b1d; }
.base01-bg { background-color: #1f292e; }
.base02-bg { background-color: #516d7b; }
.base03-bg { background-color: #5a7b8c; }
.base04-bg { background-color: #7195a8; }
.base05-bg { background-color: #7ea2b4; }
.base06-bg { background-color: #c1e4f6; }
.base07-bg { background-color: #ebf8ff; }
.base08-bg { background-color: #d22d72; }
.base09-bg { background-color: #935c25; }
.base0A-bg { background-color: #8a8a0f; }
.base0B-bg { background-color: #568c3b; }
.base0C-bg { background-color: #2d8f6f; }
.base0D-bg { background-color: #257fad; }
.base0E-bg { background-color: #6b6bb8; }
.base0F-bg { background-color: #b72dd2; }

.base00 { color: #161b1d; }
.base01 { color: #1f292e; }
.base02 { color: #516d7b; }
.base03 { color: #5a7b8c; }
.base04 { color: #7195a8; }
.base05 { color: #7ea2b4; }
.base06 { color: #c1e4f6; }
.base07 { color: #ebf8ff; }
.base08 { color: #d22d72; }
.base09 { color: #935c25; }
.base0A { color: #8a8a0f; }
.base0B { color: #568c3b; }
.base0C { color: #2d8f6f; }
.base0D { color: #257fad; }
.base0E { color: #6b6bb8; }
.base0F { color: #b72dd2; }
