/* Materia by Defman21 */

.base00-bg { background-color: #263238; }
.base01-bg { background-color: #2C393F; }
.base02-bg { background-color: #37474F; }
.base03-bg { background-color: #707880; }
.base04-bg { background-color: #C9CCD3; }
.base05-bg { background-color: #CDD3DE; }
.base06-bg { background-color: #D5DBE5; }
.base07-bg { background-color: #FFFFFF; }
.base08-bg { background-color: #EC5F67; }
.base09-bg { background-color: #EA9560; }
.base0A-bg { background-color: #FFCC00; }
.base0B-bg { background-color: #8BD649; }
.base0C-bg { background-color: #80CBC4; }
.base0D-bg { background-color: #89DDFF; }
.base0E-bg { background-color: #82AAFF; }
.base0F-bg { background-color: #EC5F67; }

.base00 { color: #263238; }
.base01 { color: #2C393F; }
.base02 { color: #37474F; }
.base03 { color: #707880; }
.base04 { color: #C9CCD3; }
.base05 { color: #CDD3DE; }
.base06 { color: #D5DBE5; }
.base07 { color: #FFFFFF; }
.base08 { color: #EC5F67; }
.base09 { color: #EA9560; }
.base0A { color: #FFCC00; }
.base0B { color: #8BD649; }
.base0C { color: #80CBC4; }
.base0D { color: #89DDFF; }
.base0E { color: #82AAFF; }
.base0F { color: #EC5F67; }
