/* Atelier Plateau by Bram de Haan (http://atelierbramdehaan.nl) */

.base00-bg { background-color: #1b1818; }
.base01-bg { background-color: #292424; }
.base02-bg { background-color: #585050; }
.base03-bg { background-color: #655d5d; }
.base04-bg { background-color: #7e7777; }
.base05-bg { background-color: #8a8585; }
.base06-bg { background-color: #e7dfdf; }
.base07-bg { background-color: #f4ecec; }
.base08-bg { background-color: #ca4949; }
.base09-bg { background-color: #b45a3c; }
.base0A-bg { background-color: #a06e3b; }
.base0B-bg { background-color: #4b8b8b; }
.base0C-bg { background-color: #5485b6; }
.base0D-bg { background-color: #7272ca; }
.base0E-bg { background-color: #8464c4; }
.base0F-bg { background-color: #bd5187; }

.base00 { color: #1b1818; }
.base01 { color: #292424; }
.base02 { color: #585050; }
.base03 { color: #655d5d; }
.base04 { color: #7e7777; }
.base05 { color: #8a8585; }
.base06 { color: #e7dfdf; }
.base07 { color: #f4ecec; }
.base08 { color: #ca4949; }
.base09 { color: #b45a3c; }
.base0A { color: #a06e3b; }
.base0B { color: #4b8b8b; }
.base0C { color: #5485b6; }
.base0D { color: #7272ca; }
.base0E { color: #8464c4; }
.base0F { color: #bd5187; }
