/* Ashes by Jannik Siebert (https://github.com/janniks) */

.base00-bg { background-color: #1C2023; }
.base01-bg { background-color: #393F45; }
.base02-bg { background-color: #565E65; }
.base03-bg { background-color: #747C84; }
.base04-bg { background-color: #ADB3BA; }
.base05-bg { background-color: #C7CCD1; }
.base06-bg { background-color: #DFE2E5; }
.base07-bg { background-color: #F3F4F5; }
.base08-bg { background-color: #C7AE95; }
.base09-bg { background-color: #C7C795; }
.base0A-bg { background-color: #AEC795; }
.base0B-bg { background-color: #95C7AE; }
.base0C-bg { background-color: #95AEC7; }
.base0D-bg { background-color: #AE95C7; }
.base0E-bg { background-color: #C795AE; }
.base0F-bg { background-color: #C79595; }

.base00 { color: #1C2023; }
.base01 { color: #393F45; }
.base02 { color: #565E65; }
.base03 { color: #747C84; }
.base04 { color: #ADB3BA; }
.base05 { color: #C7CCD1; }
.base06 { color: #DFE2E5; }
.base07 { color: #F3F4F5; }
.base08 { color: #C7AE95; }
.base09 { color: #C7C795; }
.base0A { color: #AEC795; }
.base0B { color: #95C7AE; }
.base0C { color: #95AEC7; }
.base0D { color: #AE95C7; }
.base0E { color: #C795AE; }
.base0F { color: #C79595; }
