/* Nord by arcticicestudio */

.base00-bg { background-color: #2E3440; }
.base01-bg { background-color: #3B4252; }
.base02-bg { background-color: #434C5E; }
.base03-bg { background-color: #4C566A; }
.base04-bg { background-color: #D8DEE9; }
.base05-bg { background-color: #E5E9F0; }
.base06-bg { background-color: #ECEFF4; }
.base07-bg { background-color: #8FBCBB; }
.base08-bg { background-color: #88C0D0; }
.base09-bg { background-color: #81A1C1; }
.base0A-bg { background-color: #5E81AC; }
.base0B-bg { background-color: #BF616A; }
.base0C-bg { background-color: #D08770; }
.base0D-bg { background-color: #EBCB8B; }
.base0E-bg { background-color: #A3BE8C; }
.base0F-bg { background-color: #B48EAD; }

.base00 { color: #2E3440; }
.base01 { color: #3B4252; }
.base02 { color: #434C5E; }
.base03 { color: #4C566A; }
.base04 { color: #D8DEE9; }
.base05 { color: #E5E9F0; }
.base06 { color: #ECEFF4; }
.base07 { color: #8FBCBB; }
.base08 { color: #88C0D0; }
.base09 { color: #81A1C1; }
.base0A { color: #5E81AC; }
.base0B { color: #BF616A; }
.base0C { color: #D08770; }
.base0D { color: #EBCB8B; }
.base0E { color: #A3BE8C; }
.base0F { color: #B48EAD; }
