/* Monokai by Wimer Hazenberg (http://www.monokai.nl) */

.base00-bg { background-color: #272822; }
.base01-bg { background-color: #383830; }
.base02-bg { background-color: #49483e; }
.base03-bg { background-color: #75715e; }
.base04-bg { background-color: #a59f85; }
.base05-bg { background-color: #f8f8f2; }
.base06-bg { background-color: #f5f4f1; }
.base07-bg { background-color: #f9f8f5; }
.base08-bg { background-color: #f92672; }
.base09-bg { background-color: #fd971f; }
.base0A-bg { background-color: #f4bf75; }
.base0B-bg { background-color: #a6e22e; }
.base0C-bg { background-color: #a1efe4; }
.base0D-bg { background-color: #66d9ef; }
.base0E-bg { background-color: #ae81ff; }
.base0F-bg { background-color: #cc6633; }

.base00 { color: #272822; }
.base01 { color: #383830; }
.base02 { color: #49483e; }
.base03 { color: #75715e; }
.base04 { color: #a59f85; }
.base05 { color: #f8f8f2; }
.base06 { color: #f5f4f1; }
.base07 { color: #f9f8f5; }
.base08 { color: #f92672; }
.base09 { color: #fd971f; }
.base0A { color: #f4bf75; }
.base0B { color: #a6e22e; }
.base0C { color: #a1efe4; }
.base0D { color: #66d9ef; }
.base0E { color: #ae81ff; }
.base0F { color: #cc6633; }
