/* 3024 by Jan T. Sott (http://github.com/idleberg) */

.base00-bg { background-color: #090300; }
.base01-bg { background-color: #3a3432; }
.base02-bg { background-color: #4a4543; }
.base03-bg { background-color: #5c5855; }
.base04-bg { background-color: #807d7c; }
.base05-bg { background-color: #a5a2a2; }
.base06-bg { background-color: #d6d5d4; }
.base07-bg { background-color: #f7f7f7; }
.base08-bg { background-color: #db2d20; }
.base09-bg { background-color: #e8bbd0; }
.base0A-bg { background-color: #fded02; }
.base0B-bg { background-color: #01a252; }
.base0C-bg { background-color: #b5e4f4; }
.base0D-bg { background-color: #01a0e4; }
.base0E-bg { background-color: #a16a94; }
.base0F-bg { background-color: #cdab53; }

.base00 { color: #090300; }
.base01 { color: #3a3432; }
.base02 { color: #4a4543; }
.base03 { color: #5c5855; }
.base04 { color: #807d7c; }
.base05 { color: #a5a2a2; }
.base06 { color: #d6d5d4; }
.base07 { color: #f7f7f7; }
.base08 { color: #db2d20; }
.base09 { color: #e8bbd0; }
.base0A { color: #fded02; }
.base0B { color: #01a252; }
.base0C { color: #b5e4f4; }
.base0D { color: #01a0e4; }
.base0E { color: #a16a94; }
.base0F { color: #cdab53; }
