/* Gruvbox light, soft by Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox) */

.base00-bg { background-color: #f2e5bc; }
.base01-bg { background-color: #ebdbb2; }
.base02-bg { background-color: #d5c4a1; }
.base03-bg { background-color: #bdae93; }
.base04-bg { background-color: #665c54; }
.base05-bg { background-color: #504945; }
.base06-bg { background-color: #3c3836; }
.base07-bg { background-color: #282828; }
.base08-bg { background-color: #9d0006; }
.base09-bg { background-color: #af3a03; }
.base0A-bg { background-color: #b57614; }
.base0B-bg { background-color: #79740e; }
.base0C-bg { background-color: #427b58; }
.base0D-bg { background-color: #076678; }
.base0E-bg { background-color: #8f3f71; }
.base0F-bg { background-color: #d65d0e; }

.base00 { color: #f2e5bc; }
.base01 { color: #ebdbb2; }
.base02 { color: #d5c4a1; }
.base03 { color: #bdae93; }
.base04 { color: #665c54; }
.base05 { color: #504945; }
.base06 { color: #3c3836; }
.base07 { color: #282828; }
.base08 { color: #9d0006; }
.base09 { color: #af3a03; }
.base0A { color: #b57614; }
.base0B { color: #79740e; }
.base0C { color: #427b58; }
.base0D { color: #076678; }
.base0E { color: #8f3f71; }
.base0F { color: #d65d0e; }
