/* Twilight by David Hart (https://github.com/hartbit) */

.base00-bg { background-color: #1e1e1e; }
.base01-bg { background-color: #323537; }
.base02-bg { background-color: #464b50; }
.base03-bg { background-color: #5f5a60; }
.base04-bg { background-color: #838184; }
.base05-bg { background-color: #a7a7a7; }
.base06-bg { background-color: #c3c3c3; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #cf6a4c; }
.base09-bg { background-color: #cda869; }
.base0A-bg { background-color: #f9ee98; }
.base0B-bg { background-color: #8f9d6a; }
.base0C-bg { background-color: #afc4db; }
.base0D-bg { background-color: #7587a6; }
.base0E-bg { background-color: #9b859d; }
.base0F-bg { background-color: #9b703f; }

.base00 { color: #1e1e1e; }
.base01 { color: #323537; }
.base02 { color: #464b50; }
.base03 { color: #5f5a60; }
.base04 { color: #838184; }
.base05 { color: #a7a7a7; }
.base06 { color: #c3c3c3; }
.base07 { color: #ffffff; }
.base08 { color: #cf6a4c; }
.base09 { color: #cda869; }
.base0A { color: #f9ee98; }
.base0B { color: #8f9d6a; }
.base0C { color: #afc4db; }
.base0D { color: #7587a6; }
.base0E { color: #9b859d; }
.base0F { color: #9b703f; }
