/* Eighties by Chris Kempson (http://chriskempson.com) */

.base00-bg { background-color: #2d2d2d; }
.base01-bg { background-color: #393939; }
.base02-bg { background-color: #515151; }
.base03-bg { background-color: #747369; }
.base04-bg { background-color: #a09f93; }
.base05-bg { background-color: #d3d0c8; }
.base06-bg { background-color: #e8e6df; }
.base07-bg { background-color: #f2f0ec; }
.base08-bg { background-color: #f2777a; }
.base09-bg { background-color: #f99157; }
.base0A-bg { background-color: #ffcc66; }
.base0B-bg { background-color: #99cc99; }
.base0C-bg { background-color: #66cccc; }
.base0D-bg { background-color: #6699cc; }
.base0E-bg { background-color: #cc99cc; }
.base0F-bg { background-color: #d27b53; }

.base00 { color: #2d2d2d; }
.base01 { color: #393939; }
.base02 { color: #515151; }
.base03 { color: #747369; }
.base04 { color: #a09f93; }
.base05 { color: #d3d0c8; }
.base06 { color: #e8e6df; }
.base07 { color: #f2f0ec; }
.base08 { color: #f2777a; }
.base09 { color: #f99157; }
.base0A { color: #ffcc66; }
.base0B { color: #99cc99; }
.base0C { color: #66cccc; }
.base0D { color: #6699cc; }
.base0E { color: #cc99cc; }
.base0F { color: #d27b53; }
