/* Codeschool by brettof86 */

.base00-bg { background-color: #232c31; }
.base01-bg { background-color: #1c3657; }
.base02-bg { background-color: #2a343a; }
.base03-bg { background-color: #3f4944; }
.base04-bg { background-color: #84898c; }
.base05-bg { background-color: #9ea7a6; }
.base06-bg { background-color: #a7cfa3; }
.base07-bg { background-color: #b5d8f6; }
.base08-bg { background-color: #2a5491; }
.base09-bg { background-color: #43820d; }
.base0A-bg { background-color: #a03b1e; }
.base0B-bg { background-color: #237986; }
.base0C-bg { background-color: #b02f30; }
.base0D-bg { background-color: #484d79; }
.base0E-bg { background-color: #c59820; }
.base0F-bg { background-color: #c98344; }

.base00 { color: #232c31; }
.base01 { color: #1c3657; }
.base02 { color: #2a343a; }
.base03 { color: #3f4944; }
.base04 { color: #84898c; }
.base05 { color: #9ea7a6; }
.base06 { color: #a7cfa3; }
.base07 { color: #b5d8f6; }
.base08 { color: #2a5491; }
.base09 { color: #43820d; }
.base0A { color: #a03b1e; }
.base0B { color: #237986; }
.base0C { color: #b02f30; }
.base0D { color: #484d79; }
.base0E { color: #c59820; }
.base0F { color: #c98344; }
