/* Pop by Chris Kempson (http://chriskempson.com) */

.base00-bg { background-color: #000000; }
.base01-bg { background-color: #202020; }
.base02-bg { background-color: #303030; }
.base03-bg { background-color: #505050; }
.base04-bg { background-color: #b0b0b0; }
.base05-bg { background-color: #d0d0d0; }
.base06-bg { background-color: #e0e0e0; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #eb008a; }
.base09-bg { background-color: #f29333; }
.base0A-bg { background-color: #f8ca12; }
.base0B-bg { background-color: #37b349; }
.base0C-bg { background-color: #00aabb; }
.base0D-bg { background-color: #0e5a94; }
.base0E-bg { background-color: #b31e8d; }
.base0F-bg { background-color: #7a2d00; }

.base00 { color: #000000; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #505050; }
.base04 { color: #b0b0b0; }
.base05 { color: #d0d0d0; }
.base06 { color: #e0e0e0; }
.base07 { color: #ffffff; }
.base08 { color: #eb008a; }
.base09 { color: #f29333; }
.base0A { color: #f8ca12; }
.base0B { color: #37b349; }
.base0C { color: #00aabb; }
.base0D { color: #0e5a94; }
.base0E { color: #b31e8d; }
.base0F { color: #7a2d00; }
