/* Dracula by Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula) */

.base00-bg { background-color: #282936; }
.base01-bg { background-color: #3a3c4e; }
.base02-bg { background-color: #4d4f68; }
.base03-bg { background-color: #626483; }
.base04-bg { background-color: #62d6e8; }
.base05-bg { background-color: #e9e9f4; }
.base06-bg { background-color: #f1f2f8; }
.base07-bg { background-color: #f7f7fb; }
.base08-bg { background-color: #ea51b2; }
.base09-bg { background-color: #b45bcf; }
.base0A-bg { background-color: #00f769; }
.base0B-bg { background-color: #ebff87; }
.base0C-bg { background-color: #a1efe4; }
.base0D-bg { background-color: #62d6e8; }
.base0E-bg { background-color: #b45bcf; }
.base0F-bg { background-color: #00f769; }

.base00 { color: #282936; }
.base01 { color: #3a3c4e; }
.base02 { color: #4d4f68; }
.base03 { color: #626483; }
.base04 { color: #62d6e8; }
.base05 { color: #e9e9f4; }
.base06 { color: #f1f2f8; }
.base07 { color: #f7f7fb; }
.base08 { color: #ea51b2; }
.base09 { color: #b45bcf; }
.base0A { color: #00f769; }
.base0B { color: #ebff87; }
.base0C { color: #a1efe4; }
.base0D { color: #62d6e8; }
.base0E { color: #b45bcf; }
.base0F { color: #00f769; }
