/* Spacemacs by Nasser Alshammari (https://github.com/nashamri/spacemacs-theme) */

.base00-bg { background-color: #1f2022; }
.base01-bg { background-color: #282828; }
.base02-bg { background-color: #444155; }
.base03-bg { background-color: #585858; }
.base04-bg { background-color: #b8b8b8; }
.base05-bg { background-color: #a3a3a3; }
.base06-bg { background-color: #e8e8e8; }
.base07-bg { background-color: #f8f8f8; }
.base08-bg { background-color: #f2241f; }
.base09-bg { background-color: #ffa500; }
.base0A-bg { background-color: #b1951d; }
.base0B-bg { background-color: #67b11d; }
.base0C-bg { background-color: #2d9574; }
.base0D-bg { background-color: #4f97d7; }
.base0E-bg { background-color: #a31db1; }
.base0F-bg { background-color: #b03060; }

.base00 { color: #1f2022; }
.base01 { color: #282828; }
.base02 { color: #444155; }
.base03 { color: #585858; }
.base04 { color: #b8b8b8; }
.base05 { color: #a3a3a3; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #f2241f; }
.base09 { color: #ffa500; }
.base0A { color: #b1951d; }
.base0B { color: #67b11d; }
.base0C { color: #2d9574; }
.base0D { color: #4f97d7; }
.base0E { color: #a31db1; }
.base0F { color: #b03060; }
